In [3]:
import pandas as pd
from pathlib import Path

ovr_2010 = pd.read_csv("Own_vs_rent_yearly/Ovr_2010.csv")
ovr_2011 = pd.read_csv("Own_vs_rent_yearly/Ovr_2011.csv")
ovr_2012 = pd.read_csv("Own_vs_rent_yearly/Ovr_2012.csv")
ovr_2013 = pd.read_csv("Own_vs_rent_yearly/Ovr_2013.csv")
ovr_2014 = pd.read_csv("Own_vs_rent_yearly/Ovr_2014.csv")

ovr_2010[["B25014_008E"]]

                          B25014_008E
0    Estimate!!Total!!Renter occupied
1                               14868
2                               17407
3                               51820
4                               11531
..                                ...
123                             14183
124                             12460
125                             12211
126                             12949
127                               NaN

[128 rows x 1 columns]

In [2]:
df = [
    (ovr_2010, "2010"),
    (ovr_2011, "2011"),
    (ovr_2012, "2012"),
    (ovr_2013, "2013"),
    (ovr_2014, "2014")]

In [4]:
def clean(df):
    clean_df = []
    for dataframe, year in df:
            dataframe = dataframe.drop(columns=["GEO_ID"])
            dataframe["NAME"] = dataframe["NAME"].str.replace(', California|city|CDP|town', '', regex=True)
            dataframe["NAME"] = dataframe["NAME"].str.strip()
            dataframe["Year"] = year   
            dataframe = dataframe[["Year", "NAME", "B25014_001E", "B25014_002E", "B25014_008E"]]
            dataframe = dataframe.rename(columns={
                "NAME": "City",
                "B25014_001E": "Total",
                "B25014_002E": "Total Occupied",
                "B25014_008E": "Renter Occupied"})
            dataframe = dataframe.drop(dataframe.index[0])
            clean_df.append(dataframe)
    return clean_df
cleaned_df = clean(df)

In [5]:
years = ["2010", "2011", "2012", "2013", "2014"]
file_name = {f"Cleaned_Ovr_{year}": df for df, year in zip(cleaned_df, years)}
for name, df in file_name.items():
    csv_path= f"{name}.csv"
    df.to_csv(csv_path, index=False)