In [1]:
import pandas as pd

In [3]:
# read file
file_path = 'Age_2016.csv'

df = pd.read_csv(file_path)

print(df)

                Label (Grouping) Total population Under 5 years 5 to 9 years  \
0                     California              NaN           NaN          NaN
1                       Estimate       39,250,017     2,482,422    2,524,786
2                Margin of Error            *****        ±2,763      ±21,052
3                        Percent       39,250,017         6.30%        6.40%
4        Percent Margin of Error              (X)          ±0.1         ±0.1
..                           ...              ...           ...          ...
690   Yuba City city, California              NaN           NaN          NaN
691                     Estimate           66,837         4,765        5,047
692              Margin of Error              ±34          ±631       ±1,000
693                      Percent           66,837         7.10%        7.60%
694      Percent Margin of Error              (X)          ±0.9         ±1.5

    10 to 14 years 15 to 19 years 20 to 24 years 25 to 34 years  \
0              NaN            NaN            NaN            NaN
1        2,546,294      2,585,154      2,807,120      5,902,164
2          ±20,640         ±5,905         ±5,568         ±5,589
3            6.50%          6.60%          7.20%         15.00%
4             ±0.1           ±0.1           ±0.1           ±0.1
..             ...            ...            ...            ...
690            NaN            NaN            NaN            NaN
691          5,191          4,017          4,177          9,249
692           ±788           ±989           ±796           ±963
693          7.80%          6.00%          6.20%         13.80%
694           ±1.2           ±1.5           ±1.2           ±1.4

    35 to 44 years 45 to 54 years 55 to 59 years 60 to 64 years  \
0              NaN            NaN            NaN            NaN
1        5,168,066      5,198,221      2,481,314      2,206,037
2           ±5,240         ±5,025        ±19,137        ±18,904
3           13.20%         13.20%          6.30%          5.60%
4             ±0.1           ±0.1           ±0.1           ±0.1
..             ...            ...            ...            ...
690            NaN            NaN            NaN            NaN
691         10,084          7,294          3,578          4,040
692         ±1,191         ±1,117           ±715           ±820
693         15.10%         10.90%          5.40%          6.00%
694           ±1.8           ±1.7           ±1.1           ±1.2

    65 to 74 years 75 to 84 years 85 years and over
0              NaN            NaN               NaN
1        3,092,039      1,538,860           717,540
2           ±3,918        ±13,095           ±12,113
3            7.90%          3.90%             1.80%
4             ±0.1           ±0.1              ±0.1
..             ...            ...               ...
690            NaN            NaN               NaN
691          4,603          3,121             1,671
692           ±995         ±1,070              ±599
693          6.90%          4.70%             2.50%
694           ±1.5           ±1.6              ±0.9

[695 rows x 15 columns]

In [7]:
# remoove the unwanted rows
df = df[~df['Label (Grouping)'].str.contains('Margin of Error|Percent Margin of Error', case=False)]

df

,Label (Grouping),Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"39,250,017","2,482,422","2,524,786","2,546,294","2,585,154","2,807,120","5,902,164","5,168,066","5,198,221","2,481,314","2,206,037","3,092,039","1,538,860","717,540"
3,Percent,"39,250,017",6.30%,6.40%,6.50%,6.60%,7.20%,15.00%,13.20%,13.20%,6.30%,5.60%,7.90%,3.90%,1.80%
5,"Alameda city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Estimate,"78,907","4,520","4,777","5,244","2,447","2,934","11,217","11,595","11,768","6,936","5,255","7,228","3,549","1,437"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,Estimate,"68,236","3,428","4,701","5,851","5,639","3,160","6,712","7,801","10,295","4,379","4,405","8,210","2,796",859
688,Percent,"68,236",5.00%,6.90%,8.60%,8.30%,4.60%,9.80%,11.40%,15.10%,6.40%,6.50%,12.00%,4.10%,1.30%
690,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,Estimate,"66,837","4,765","5,047","5,191","4,017","4,177","9,249","10,084","7,294","3,578","4,040","4,603","3,121","1,671"
693,Percent,"66,837",7.10%,7.60%,7.80%,6.00%,6.20%,13.80%,15.10%,10.90%,5.40%,6.00%,6.90%,4.70%,2.50%

In [8]:
# save the changes to the csv file
df.to_csv('Age_2016.csv', index=False)
print('changes saved')

changes saved